<div  class="boxShadow">

   
    <h1 class="jurassic-common">About</h1>
    <div>
        <span class="aboutFontSize">
            This page was made using C#,HTML,AngularJS,Bootstrap,MVC, ASP.Net, LINQ, and SQL Database,
            and thanks to the awesome team on Lexicon I was able to learn all of the above code languages to create this page.

            This page is still under development and for now in it's Alpha state, therefore you can expect changes and bugs,
            Fixes can take time and the page may go offline for an unspecified amount of time either because I have no money to keep it up or no time to manage it.
        </span>
        <br /><br />
        <img class="imgScale" src="http://www.lexicon.se/Static/images/logo-lexicon@2x.gif" />
        <br />
        <a class="lexiconFont" href="http://www.lexicon.se/" >www.lexicon.se</a>
        <hr />
    </div>

    <h2 class="jurassic-common">About Me</h2>
    <div>

        <span class="aboutFontSize">
            -Coming soon
        </span>
    </div>
    <hr />
    <h3 class="jurassic-common">Contact</h3>
    <div>
         
        <p class="">
             <a href="mailto:jurassicvalleycontact@gmail.com" target="_top">Send Mail</a>
        </p>
    </div>

 
</div>